---
import Header from "../components/layouts/Header.astro";
import Footer from "../components/layouts/Footer.astro";
import "../styles/root.css";

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={title} />
    <meta property="og:locale" content="ja_JP" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />

    <meta name="theme-color" content="#4A90E2" />

    <script is:inline>
      const getTheme = () => {
        const storedTheme = localStorage.getItem("theme");
        if (storedTheme) return storedTheme;
        return window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light";
      };
      document.documentElement.setAttribute("data-theme", getTheme());
    </script>

    <script
      src="https://hamutan86.pythonanywhere.com/nonstress/nonstress.js"
      defer></script>
  </head>
  <body>
    <Header serviceName={title} />

    <main class="main-content">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  .main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-y: auto;
  }
</style>
